.container{
    height: 200px;
    min-width: 240px;
    max-width: 600px;
    width: 100%;
    position: relative;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    margin: 10px 5px;
}
.sesion{
    position: relative;
}

.sesion__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out; 
    transform-origin: center; 
}

.sesion__image:hover {
    transform: scale(1.2);
}
.sesion__text{
    position: absolute;
    top: 30%;
    margin-left: 20px;
}

.sesion__text-element{
    color: var(--white-color);
    font-size: 44px;
    font-weight: 800;
    margin: 0;
}

.t{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

@media (width >= 768px) {
    .t{
        flex-direction: row;
    }
}